Redirect 301 /drinks http://parrains.com/menu.html
Redirect 301 /contact http://parrains.com/contact.html
Redirect 301 /menu http://parrains.com/menu.html
Redirect 301 /gallery http://parrains.com/gallery.html
Redirect 301 /menu/Specialties http://parrains.com/menu.html
Redirect 301 /about-parrains /about.html
Redirect 301 /menu/Appetizers /appetizers.html
Redirect 301 /menu/Desserts /desserts.html
Redirect 301 /menu/Turf /menu.html
Redirect 301 /menu/Sides /menu.html
Redirect 301 /menu/Salads /soups-and-salads.html
Redirect 301 /sitemap /sitemap.xml
Redirect 301 /menu/Soups /soups-and-salads.html
Redirect 301 /menu/buffet-catering /menu.html
Redirect 301 /policy-and-terms parrains.com
Redirect 301 /menu/Lunch-Specials /menu.html
Redirect 301 /where.htm /contact.html
Redirect 301 /when.htm /contact.html
Redirect 301 /Feedback.htm /contact.html
Redirect 301 /menu/Fried-Seafood-Platters /menu.html
Redirect 301 /menu/Poboys-and-Sandwiches /menu.html
Redirect 301 /about-parrains/patio-and-bar /about.html

