---
layout: base
title: Menu
canonical: http://demontrer.github.io/menu.html
---
<div id="menu-content" class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <ul class="menuNav mobileTop">
          <li><img class="menuMobile" style="vertical-align: middle;" src="{{ site.baseurl }}/assets/images/food-menu-icon.png" height="50" width="50"></li>
          <li class="first">FOOD:</li>
          <li><a class="active" href="/menu.html">Entrées</a></li>
          <li><a href="/appetizers.html">Appetizers</a></li>
          <li><a href="/soups-and-salads.html">Soup & Salad</a></li>
          <li><a href="/desserts.html">Dessert</a></li>
      </ul>
    </div>
    <!-- <div class="col-sm-6 text-center">
      <ul class="menuNav drinks">
      		<li><img class="menuMobile" style="vertical-align: middle;" src="{{ site.baseurl }}/assets/images/drink-menu-icon.png" height="50" width="50"></li>
      		<li class="first">DRINKS:</li>
      		<li><a href="/wines.html">Wine</a></li>
      		<li><a href="/cocktails.html">Cocktails</a></li>
      		<li><a href="/beer.html">Beer</a></li>
      </ul>
    </div> -->
  </div>
  <div class="row">
        <center>
          <h1>&middot; ENTRÉES &middot;</h1>
        </center>
				<br>

        <h4><strong>Specialties</strong></h4>

				<br>

          {% for item in site.data.specialties %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>

        <h4><strong>Turf</strong></h4>

        <br>

          {% for item in site.data.turf %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>

        <h4><strong>Fried Seafood Platters</strong></h4>

        <br>

          {% for item in site.data.fried-seafood-platters %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>

        <h4><strong>Poboys & Sandwiches</strong></h4>

        <br>

          {% for item in site.data.poboys %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>
  </div>
  <div class="row text-center">
     <a class="button" href="https://go.waitrapp.com/Aorq/ELF7whkFHy?%24deeplink_path=restaurants&restaurant_id=1102" target="_blank">Order Online</a>
     <h5><a href="{{ site.baseurl }}/assets/images/menu.pdf">View PDF Menu <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h4>
  </div>
</div>
