---
layout: base
title: Soups and salads
canonical: http://demontrer.github.io/soups-and-salads.html
---
<div id="menu-content" class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <ul class="menuNav mobileTop">
          <li><img class="menuMobile" style="vertical-align: middle;" src="{{ site.baseurl }}/assets/images/food-menu-icon.png" height="50" width="50"></li>
          <li class="first">FOOD:</li>
          <li><a href="/menu.html">Entrées</a></li>
          <li><a href="/appetizers.html">Apps</a></li>
          <li><a class="active" href="/soups-and-salads.html">Soup & Salad</a></li>
          <li><a href="/desserts.html">Dessert</a></li>
      </ul>
    </div>
    <div class="col-sm-6 text-center">
      <ul class="menuNav">
          <li><img class="menuMobile" style="vertical-align: middle;" src="{{ site.baseurl }}/assets/images/drink-menu-icon.png" height="50" width="50"></li>
          <li class="first">DRINKS:</li>
          <li><a href="/wines.html">Wine</a></li>
          <li><a href="/cocktails.html">Cocktails</a></li>
          <li><a href="/beer.html">Beer</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
        <center>
          <h1>&middot; SOUPS & SALADS &middot;</h1>
        </center>
				<br>

        <h4><strong>Soups</strong></h4>

        <br>

          {% for item in site.data.soup %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>

        <h4><strong>Salads</strong></h4>

        <br>

          {% for item in site.data.salads %}
          <p style="border-bottom: 1px dotted #bbb;"><strong>{{item.name}}</strong> <small>{{item.description}}</small> <span class="floatRight"><strong>{{item.price}}</strong></span></p>
          {% endfor %}

        <br>

  </div>
</div>
