<section id="beer-university">

    <div class="beer-u-container">
        <div class="row">
            <h4>CHIMES BEER UNIVERSITY</h4>
            <hr />
            <p>
                Learn more about the beers you drink at the Chimes with Beer University.
            </p>
            <p>
                Complete your Undergraduate beer degree and prove to the world your knowledge and experience in beer drinking. Then go on to complete your Masters and PhD to become an expert.
            </p>
            <div class="enroll">
                <a class="button" href="https://www.chimesbeeru.com" target="_blank">ENROLL NOW</a>
            </div>
        </div>
    </div>

    <div class="photos">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>

</section>
