<footer>
  <div class="container">
    <div class="row top">
        <img src="{{ site.baseurl }}/assets/images/footer.jpg" />
    </div>
    <div class="row bottom">
      <div class="col-md-4">
        <h3>Parrains Seafood</h3>
        <p>
          3225 Perkins Road<br />
          Baton Rouge, LA 70808-2256<br />
          225-381-9922
        </p>
      </div>
      <div class="col-md-4">
        <h3>Hours of Operation</h3>
        <p>
          Sun - Thu: 11am - 10pm <br />
          Fri - Sat: 11am - 11pm
        </p>
      </div>
      <div class="col-md-4">
        <h3>Get in touch</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/Parrains-Seafood-Restaurant-100238516691724/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.yelp.com/biz/parrains-seafood-baton-rouge" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.google.com/maps/place/Parrain's+Seafood+Restaurant/@30.4236972,-91.1577403,17z/data=!3m1!4b1!4m5!3m4!1s0x8626a6c9b93a0fff:0xd41ee5f6ee71cc43!8m2!3d30.4236972!4d-91.1555516" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row policy">
      <center>
        <p>
          © 2017 Parrains Seafood LLC All Rights Reserved.
        </p>
      </center>
    </div>
  </div>
</footer>
