<footer>
    <div class="container">
        <div class="row form">
            <h3>Contact Us</h3>
            <form method="POST" id="contact"
              action="http://formspree.io/contactchimes@thechimes.com">
                <input type="text" name="fullname" placeholder="Your name" required="" data-validation-required-message="Please enter your name.">
                <input type="text" name="phone" placeholder="Your number">
                <input type="email" name="email" placeholder="Your email" required="" data-validation-required-message="Please enter your email.">
                <textarea name="message" placeholder="Your comments"></textarea>
                <div id="private-parties-container">
                    <label for="privateParties">Interested in a private party?</label>
                    <input id="privateParties" type="checkbox">
                </div>
                <div id="location-container">
                    <label for="location">Please select a location</label>
                    <select id="loc" name="location">
                      <option value="" disabled selected>Select one</option>
                      <option value="highland">Highland</option>
                      <option value="covington">Covington</option>
                      <option value="east">East</option>
                    </select>

                  <div class="form-group">
                    <div id="filterDate2">
                      <!-- Datepicker as text field -->
                      <div class="input-group date" data-date-format="dd.mm.yyyy">
                        <input type="text" name="date" class="form-control" placeholder="dd/mm/yyyy">
                        <div class="input-group-addon" >
                          <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <button class="form-button" type="submit">Send</button>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h5>Highland</h5>
                <p>
                    <a href="https://www.google.com/maps/place/The+Chimes/@30.4172978,-91.2462818,12z/data=!4m18!1m12!4m11!1m3!2m2!1d-91.1759007!2d30.4239591!1m6!1m2!1s0x8626a72649806f47:0xd0f20bad51b9129e!2sthe+chimes+highland!2m2!1d-91.1762416!2d30.4173165!3m4!1s0x8626a72649806f47:0xd0f20bad51b9129e!8m2!3d30.4173165!4d-91.1762416" target="_blank">3357 Highland Rd<br>
                        Baton Rouge, LA 70802<br>
                    </a>
                    <a href="tel:(225) 383-1754">(225) 383-1754</a>
                </p>
                <p>
                    Mon-Sat &middot; 11am-2am<br>
                    Sun &middot; 10:30am-12am
                </p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/TheChimesHighland/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/chimes-restaurant-baton-rouge" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>East</h5>
                <p>
                    <a href="https://www.google.com/maps/place/The+Chimes+East/@30.4146276,-91.0630503,17z/data=!3m1!4b1!4m5!3m4!1s0x8626a4b3c29f2745:0x54872a42aae1cf7!8m2!3d30.414623!4d-91.0608616" target="_blank">
                        10870 Coursey Blvd<br>
                        Baton Rouge, LA 70816<br>
                    </a>
                    <a href="tel:(225) 296-4981">(225) 296-4981</a>
                </p>
                <p>
                    Mon-Sat &middot; 11am-2am<br>
                    Sun &middot; 11am-12am
                </p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/ChimesEast/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/the-chimes-east-baton-rouge" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Covington</h5>
                <p>
                    <a href="https://www.google.com/maps/place/The+Chimes-Covington/@30.4735528,-90.0909024,17z/data=!3m1!4b1!4m5!3m4!1s0x86275c311a01a9ef:0x291357e5b55060c2!8m2!3d30.4735482!4d-90.0887137" target="_blank">
                    19130 W Front St<br>
                    Covington, LA 70433<br>
                    </a>
                    <a href="tel:(985) 892-5396">(985) 892-5396</a>
                </p>
                <p>
                    Mon-Sat &middot; 11am-2am<br>
                    Sun &middot; 10:30am-11:30pm
                </p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/TheChimesHighland/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/chimes-restaurant-baton-rouge" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="jobs" tabindex="-1" role="dialog" aria-labelledby="hobsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% include job-opportunities.html %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="east-location-validation" tabindex="-1" role="dialog" aria-labelledby="hobsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Private parties are not available at The Chimes East</p>
            </div>
        </div>
    </div>
</div>

<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99358462-1', 'auto');
  ga('send', 'pageview');
</script> -->
