<section id="gift-card-form">
    <div class="row">
        <h4>GIFT CARDS</h4>
        <hr>
    </div>
    <div class="inner">  <div class="row">
      <p><em>We are not emailing eGift cards at this time</em>
</p>
<p><em>All transactions will be a mailed via USPS</em>
</p>


      <div class="order">
        <form accept-charset="UTF-8" action="/orders" class="new_order" id="new_order" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="C8u89wZjhYUaioVll8JiuhHtRRwu7pbV9p+pQoPjyWA="></div>


  <input id="order_email" name="order[email]" type="hidden">
  <input id="order_billing_name" name="order[billing_name]" type="hidden">
  <input id="order_billing_address_line1" name="order[billing_address_line1]" type="hidden">
  <input id="order_billing_address_city" name="order[billing_address_city]" type="hidden">
  <input id="order_billing_address_state" name="order[billing_address_state]" type="hidden">
  <input id="order_billing_address_zip" name="order[billing_address_zip]" type="hidden">
  <input id="order_billing_address_country" name="order[billing_address_country]" type="hidden">
  <input id="order_shipping_name" name="order[shipping_name]" type="hidden">
  <input id="order_shipping_address_line1" name="order[shipping_address_line1]" type="hidden">
  <input id="order_shipping_address_city" name="order[shipping_address_city]" type="hidden">
  <input id="order_shipping_address_state" name="order[shipping_address_state]" type="hidden">
  <input id="order_shipping_address_zip" name="order[shipping_address_zip]" type="hidden">
  <input id="order_shipping_address_country" name="order[shipping_address_country]" type="hidden">
  <input id="order_last4" name="order[last4]" type="hidden">
  <input id="order_stripe_card_token" name="order[stripe_card_token]" type="hidden">


  <div id="order-items">
        <div class="nested-fields">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="order-item-box">
        <div class="field form-group">
          <label for="order_order_items_attributes_1508604583407_quantity">Quantity</label>
					<select class="quantity" id="order_order_items_attributes_1508604583407_quantity" name="order[order_items_attributes][1508604583407][quantity]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option></select>
        </div>

        <div class="field form-group">
          <label for="order_order_items_attributes_1508604583407_value">Dollar Amount</label>
          <select class="value" id="order_order_items_attributes_1508604583407_value" name="order[order_items_attributes][1508604583407][value]"><option value="25.0">$25.00</option>
<option value="50.0">$50.00</option>
<option value="75.0">$75.00</option>
<option value="100.0">$100.00</option></select>
        </div>

        <div class="field form-group message">
          <label for="order_order_items_attributes_1508604583407_message">Gift Message - 100 character max</label>
          <textarea style="display:block;" id="order_order_items_attributes_1508604583407_message" name="order[order_items_attributes][1508604583407][message]"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="actions form-group">
    <input class="button" id="pay_now" name="commit" type="submit" value="Check out">
  </div>
</form>
      </div>
  </div>
</div></section>
