<header>
    <div class="row">
        <div class="address col-md-4">
            <ul>
                <li>
                    3357 Highland Rd &middot; Baton Rouge &middot; (225) 383-1754
                </li>
                <li>
                    10870 Coursey Blvd &middot; Baton Rouge &middot; (225) 296-4981
                </li>
                <li>
                    19130 W Front St &middot; Covington &middot; (225) 383-1754
                </li>
            </ul>
        </div>
        <div class="logo col-md-4">
            <img src="{{ site.baseurl }}/assets/images/chimes-black.png" />
        </div>
        <div class="social col-md-4">
            <ul>
              <li>
                <a href="https://www.facebook.com/TheChimesHighland/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/tweetchimes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
            </ul>
        </div>
    </div>
</header>
