<header>
    <div class="row">
        <div class="address col-sm-4">
            <ul>
                <li>
                    3357 Highland Rd &middot; Baton Rouge
                </li>
                <li>
                    10870 Coursey Blvd &middot; Baton Rouge
                </li>
                <li>
                    19130 W Front St &middot; Covington
                </li>
            </ul>
        </div>
        <div class="logo col-sm-4">
            <img src="{{ site.baseurl }}/assets/images/chimes-black.png" />
        </div>
        <div class="social col-sm-4">
            <ul>
              <li>
                <a href="https://www.facebook.com/TheChimesHighland/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/tweetchimes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a data-toggle="modal" data-target="#highlandMenu">Highland</a></li>
                <li><a data-toggle="modal" data-target="#eastMenu">East</a></li>
                <li><a data-toggle="modal" data-target="#covingtonMenu">Covington</a></li>
                <li><a data-toggle="modal" data-target="#jobs">Job Opportunities</a></li>
                <li><a href="#beer-university">Beer University</a></li>
                <li><a href="#private-parties">Private Parties</a></li>
                <li><a href="http://admin.thechimes.com/orders/new">Gift Cards</a></li>
            </ul>
        </nav>
    </div>
</header>
