<div id="home-hero">
    <ul class="bxslider">
      <li style="background-image: url('{{ site.baseurl }}/assets/images/tiger-town.jpg');"></li>
      <li style="background-image: url('{{ site.baseurl }}/assets/images/boat-load.jpg');"></li>
      <li style="background-image: url('{{ site.baseurl }}/assets/images/oysters.jpg');"></li>
    </ul>
</div>

<div class="awards">
    <img src="http://logonoid.com/images/zagat-logo.png" />
    <img src="{{ site.baseurl }}/assets/images/bestlogo.png" />
</div>
