<div id="home-hero">
    <ul class="bxslider">
      <li style="background-image: url('{{ site.baseurl }}/assets/images/tiger-town.jpg');"></li>
      <li style="background-image: url('{{ site.baseurl }}/assets/images/boat-load.jpg');"></li>
      <li style="background-image: url('{{ site.baseurl }}/assets/images/oysters.jpg');"></li>
    </ul>
</div>

<div class="awards">
    <a href="https://www.yelp.com/biz/chimes-restaurant-baton-rouge" target="_blank"><img src="{{ site.baseurl }}/assets/images/yelp.png" /></a>
    <a href="https://www.225batonrouge.com/food-drink/2017-best-225-food-drink-2" target="_blank"><img src="{{ site.baseurl }}/assets/images/bestlogo.png" /></a>
</div>
