<section id="highland">
    <div class="row">
        <h4>HIGHLAND MENU</h4>
        <hr>
    </div>
    <div class="modalNav">
        <ul id="highland-pager">
        </ul>
    </div>

    <div id="highlandMenuSlider" class="menu-content cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-pager="#highland-pager" data-cycle-slides="> article" data-cycle-auto-height="1">

        <article id="appetizers" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Appetizers </li>">

            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/apps-header.jpg"/>
            </div>

            <div class="row">
                <h5>Snacks</h5>
                <p>Fried Pickles 6</p>
                <p>Spinach & Artichoke Dip 9</p>
                <p>The Works Cheese Fries 8.5</p>
                <p>Onion Rings 7</p>
                <p>Hushpuppies 3</p>
                <p>Mozzarella Cheese Sticks 9.5</p>
            </div>
            <div class="row">
                <h5>Small Plates</h5>
                <p>Louisiana Alligator 11</p>
                <p>Crabmeat-Stuffed Mushroom 9.5</p>
                <p>Crawfish & 3 Cheese Macaroni 9.5</p>
                <p>Chimes Lagniappe Cakes 9</p>
                <p>Crab Fingers (seasonal) 12.5</p>
                <p>Buffalo Wings 12.5</p>
                <p>Boudin Balls 8</p>
                <p>Blackened Shrimp Nachos 10</p>
            </div>

        </article>

        <article id="brunch" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Brunch </li>">

            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/brunch-header.jpg"/>
            </div>

            <div class="row">
                <h5>Poaches</h5>
                <p>The Benediction 13</p>
                <p>Lagniappe Poach 13</p>
                <p>Eggs Pontchartrain 14</p>
                <p>Country Fried Pork 13</p>
            </div>
            <div class="row">
                <h5>Omelets & Scrambled</h5>
                <p>Boudin Omelet 13</p>
                <p>Crawfish Omelet 14</p>
                <p>Club Omelet 13</p>
                <p>Scrambled Platter 13</p>
            </div>
            <div class="row">
                <h5>Specialties</h5>
                <p>Grits 'n Grillades 13</p>
                <p>Steak & Eggs 24</p>
                <p>Breakfast Burger 12</p>
                <p>Chicken & Biscuits 11</p>
                <p>Works Hash Browns 8.5</p>
                <p>Kids Brunch 6</p>
            </div>
            <div class="row">
                <h5>Bar Specials</h5>
                <p>Imperial Mimosa 6.5</p>
                <p>Imperial Bloody Mary 6.5</p>
                <p>Irish Coffee 6.5</p>
            </div>

        </article>

        <article id="lunch-and-dinner" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Entrées </li>">

            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/lunch-and-dinner-header.jpg"/>
            </div>

            <div class="row">
                <h5>From the Oyster Bar</h5>
                <small>½ price RAW oysters M-F 4pm-7pm all day Tuesday</small>
                <p>Raw ½doz 8 &middot; doz 13</p>
            </div>

            <div class="row">
                <h5>Specialties</h5>
                <p>New Orleans-Style BBQ Shrimp 17</p>
                <p>Crawfish Etoufée sm 7.5 &middot; lg 12</p>
                <p>Seafood Pasta 18</p>
                <p>Pasta Grazi 11</p>
                <p>Pasta Alfredo chicken 13 &middot; salmon 16 &middot; shrimp 15</p>
                <p>Red Beans & Rice w/ Sausage 9</p>
                <p>Catfish Perdu 18</p>
                <p>Boudin Omelet 11</p>
            </div>

            <div class="row">
                <h5>From the Grill</h5>
                <small>Served with salad and choice of side</small>
                <p>Grilled Breast of Chicken 11</p>
                <p>Charbroiled Catfish - w/ garlic butter 16</p>
                <p>Pork Chops w/ Abita Rootbeer glaze 15</p>
                <p>Grilled Salmon Fillet - w/ dill sauce 18</p>
                <p>USDA Prime Ribeye 25</p>
                <p>TOPPINGS - <i>add to any grill platter</i></p>
                <p>The TigerTown 7</p>
                <p>Crabmeat Royale 8</p>
                <p>Shrimp Lafourche 7</p>
                <p>The New Orleans BBQ Shrimp 7</p>
            </div>

            <div class="row">
                <h5>Fried Seafood</h5>
                <small>Served with tossed salad, hushpuppies, and french fries</small>
                <p>Shrimp 15</p>
                <p>Oysters 18</p>
                <p>Catfish 15</p>
                <p>Stuffed Shrimp 17</p>
                <p>Half & Half 18</p>
                <small>Any two of the items above</small>
                <p>Chimes Boat Load 24</p>
                <small>Any three items: shrimp, catfish, stuffed shrimp, oysters</small>
            </div>

            <div class="row">
                <h5>Poboys</h5>
                <small>Served with French Fries</small>
                <p>Roast Beef Poboy <i>with gravy</i> 11</p>
                <p>New Orleans Style BBQ Shrimp Poboy 13</p>
                <p>Oyster Poboy 15</p>
                <p>Catfish Poboy 10</p>
                <p>Shrimp Poboy 10</p>
            </div>

            <div class="row">
                <h5>Burgers</h5>
                <small>Served with French Fries</small>
                <p>½ lb. Hamburger 8.5</p>
                <p>Turkey Burger 8.5</p>
                <p>Boca Burger 7.5</p>
                <p>Jalepeño Bacon Burger 10</p>
                <p>Black & Blue Burger 10</p>
            </div>

            <div class="row">
                <h5>Sandwiches</h5>
                <small>Served with French Fries</small>
                <p>Chimes Club 9</p>
                <p>Chicken Sandwich 7</p>
                <p>Turkey Croissant 8</p>
                <p>Lagniappe Cake Sandwich 10</p>
                <p>Blackened Salmon 10</p>
                <p>The T-Bird 10</p>
                <p>The Veggie 8</p>
            </div>

            <div class="row">
                <h5>Salad</h5>
                <p>Chimes Club 14</p>
                <p>Blackened Shrimp Remoulade 15</p>
                <p>Fried Crawfish Salad 14</p>
                <p>Caesar Salad 9</p>
                <p>Spinach Salad 9</p>
                <p>Breast of Chicken Salad 13</p>
                <p>Blackened Salmon Salad 16</p>
                <p>Jumbo Shrimp Salad 15</p>
            </div>

        </article>

        <article id="sides" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Sides </li>">
            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/sides-header.jpg"/>
            </div>
            <div class="row">
                <h5>Soup</h5>
                <p>Seafood Gumbo sm 5.5 &middot; lg 7.5</p>
                <p>Shrimp & Corn Soup sm 5.5 &middot; lg 7.5</p>
                <p>Duck & Sausage Gumbo sm 5.5 &middot; lg 7.5</p>
                <p>Soup of the Day sm 5.5 &middot; lg 7.5</p>
                <p>Large Soup & Tossed Salad sm 5.5 &middot; lg 7.5</p>
            </div>
            <div class="row">
                <h5>Sides</h5>
                <p>Stuffed Potato 4</p>
                <p>Steamed Vegetables 4</p>
                <p>Red Beans & Rice w/ Sausage 4</p>
                <p>Sweet Potato Fries 5</p>
                <p>Macaroni & Cheese 4</p>
            </div>
        </article>

        <article id="desserts" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Desserts </li>">
            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/desserts-header.jpg"/>
            </div>
            <div class="row">
                <h5>Desserts</h5>
                <p>Hot Fudge Brownie Sundae 6</p>
                <p>Cheesecake Du Jour 6</p>
                <p>White Chocolate Bread Pudding 6</p>
                <p>Dessert Special 6</p>
            </div>
        </article>

        <article id="beer" class="menuSlide cycle-slide cycle-slide-active" data-cycle-pager-template="<li>Beer </li>">
            <div class="menu-header">
                <img src="{{ site.baseurl }}/assets/images/beer-header.jpg"/>
            </div>
            <div class="row">
                <h5>Beer</h5>
                <a
                  href="https://www.taphunter.com/location/the-chimes-restaurant-tap-room/5487294345904128" target="_blank">View Beer Menu</a>
            </div>
        </article>

    </div>

</section>
