<section id="home-hero">

  <ul class="bxslider">
    <li style="background-image: url('{{ site.baseurl }}/assets/images/slider-2.jpg');"></li>
    <li style="background-image: url('{{ site.baseurl }}/assets/images/slider3.jpg');"></li>
    <li style="background-image: url('{{ site.baseurl }}/assets/images/slider4.jpg');"></li>
    <li style="background-image: url('{{ site.baseurl }}/assets/images/slider7.jpg');"></li>
    <li style="background-image: url('{{ site.baseurl }}/assets/images/slider8.jpg');"></li>
  </ul>

  <div id="hero-text">
    <div class="container">
      <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
      <a href="#push-boxes"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
  </div>

</section>
