<section id="home-article">
  <div class="overlay"></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Welcome to Parrains Seafood Restaurant</h2>
          <p>
            Parrain's Seafood opened in September 2001 with a commitment to bring you the freshest and highest quality seafood in town. We have mouth-watering selections that are featured daily on our extensive menu. We offer daily specials for lunch and dinner as well as select brunch items on Sundays. Our menu includes delicious items that are prepared fresh to order.
          </p>
          <p>
            We are proud to serve you only Gulf Coast seafood.We are conveniently located in the heart of Baton Rouge in the mid-city district. Our servers are friendly and the atmosphere is perfect for dining with friends, family or business associates.
          </p>
          <a href="{{ site.baseurl }}/contact.html" class="button">View Location</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-article-2">
    <div class="eighth">
      <a href="/menu.html">
        <div class="overlay">
          <h3>Poboys</h3>
        </div>
      </a>
  </div>
  <div class="eighth">
    <a href="/soups-and-salads.html">
      <div class="overlay">
        <h3>Salad</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/appetizers.html">
      <div class="overlay">
        <h3>Appetizers</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/desserts.html">
      <div class="overlay">
        <h3>Dessert</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/menu.html">
      <div class="overlay">
        <h3>Entreés</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/appetizers.html">
      <div class="overlay">
        <h3>Sides</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/menu.html">
      <div class="overlay">
        <h3>Specialties</h3>
      </div>
    </a>
  </div>
  <div class="eighth">
    <a href="/contact.html">
      <div class="overlay">
        <h3>Catering</h3>
      </div>
    </a>
  </div>
</section>
