<section id="job-opportunities">
    <div class="row">
        <h4>Join Our Team</h4>
        <hr>
    </div>
    <div class="row">
        Select a Restaurant for Application
        <ul>
            <li><a class="button" href="https://chimeshighland.companycareersite.com/" target="_blank">Highland</a></li>
            <li><a class="button" href="https://chimeseast.companycareersite.com/" target="_blank">East</a></li>
            <li><a class="button" href="https://chimescovington.companycareersite.com/" target="_blank">Covington</a></li>
        </ul>
    </div>
</section>
