<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="button_container navbar-toggle" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>

      <a class="navbar-brand" href="{{site.baseurl}}/">Parrains</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}/about.html">About<span class="sr-only">(current)</span></a></li>
        <li><a href="{{site.baseurl}}/menu.html">Menu<span class="sr-only">(current)</span></a></li>
        <li><a href="{{site.baseurl}}/gallery.html">Gallery<span class="sr-only">(current)</span></a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/menu.html">Menu</a></li>
        <li><a href="{{site.baseurl}}/gallery.html">Gallery</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
      </ul>
    </nav>
</div>
