<section id="parties-gifts">
    <div class="parties-container">
        <div class="row">
            <h2>PRIVATE PARTIES</h2>
            <p>Interested in holding an event at one of our locations? Send us your info and a little about what you're thinking, and we'll get back to you.</p>
            <a href="#" class="button">BOOK NOW</a>
        </div>
    </div>
    <div class="gifts-container">
        <div class="row">
            <h2>GIFT CARDS</h2>
            <p>Looking for the perfect gift? We got you covered.</p>
            <a href="#" class="button">BUY NOW</a>
        </div>
    </div>
</section>
