<section id="push-boxes">
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/seafood.png" />
        <span class="line-wrapper">
          <h3>Seafood</h3>
        </span>
        <p>
          The freshest and highest quality seafood in town.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/turf.png" />
        <span class="line-wrapper">
          <h3>Turf</h3>
        </span
        <p>
          Traditional cajun southern dishes with the best ingredients around.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/drinks.png" />
        <span class="line-wrapper">
          <h3>Drinks</h3>
        </span>
        <p>
          A wide variety of wine, beer, and original cocktails.
        </p>
      </div>
    </div>
</section>
