<section id="push-boxes">
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/seafood.png" />
        <h3>Seafood</h3>
        <p>
          The freshest and highest quality seafood in town. 
        </p>
      </div>
    </div>
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/seafood.png" />
        <h3>Turf</h3>
      </div>
    </div>
    <div class="box">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/assets/images/seafood.png" />
        <h3>Drinks</h3>
      </div>
    </div>
</section>
