@import 'variables'

footer
    min-height: 33vh
    .row
        padding: 2rem 2rem
        > div
            text-align: center
            color: $secondary2
            @media screen and (max-width: 64rem)
                padding-bottom: 2rem
            h5
                font-size: 1.6rem
                font-weight: 700
                text-transform: uppercase
                margin-bottom: 1.6rem
                color: $primary
            ul
                margin: 0 auto
                padding: 0
                li
                    list-style: none
                    display: inline-block
                    a
                        color: $primary
                        font-size: 1.6rem
                        padding: 0 0.4rem
                        transition: 0.2s ease-in-out
                        &:hover
                            color: $primary2



