footer {
  display: block;
  position: relative;
  min-height: 33vh;
  background: black;
  height: auto;
  width: 100%;
  color: white;
  clear: both;
  .top {
    padding: 4rem 0 0rem 0;
  }
  .bottom {
    text-align: center;
    padding-bottom: 2rem;
    img {
      max-height: 40px;
      display: none;
    }
  }
  a {
    color: white;
  }
  h3 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  .col-md-4 {
    &:nth-of-type(1) {

    }
    &:nth-of-type(2) {
      text-align: center;
    }
    &:nth-of-type(3) {
      text-align: right;
    }
  }
  @media screen and (max-width: 64rem) {
    .col-md-4 {
      text-align: center !important;
    }
    ul {
      text-align: center;
      padding: 0;
    }
  }
  ul {
    margin-top: 0.2rem;
    list-style: none;
    li {
      display: inline-block;
      padding: 0 0.2rem;
      font-size: 2rem;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
