//footer
footer {
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: $tan-light;

  .container {
    border-radius: 0;
  }
}
