//gallery
.gallery {
  section#base-hero {
    background: url('https://s3.amazonaws.com/ijadams/parrains/parrains-sign.jpg') no-repeat;
    background-position: 50% inherit;
    background-size: cover;
    background-position: 50% 25% !important;
    @media screen and (max-width: 40rem) {
        background-position: 80% 50% !important;
    }
  }
}

.grid {
    margin-top: 4rem;
}

.grid-item {
    float: left;
    margin-bottom: 25px;
    width: calc(33.33% - 25px);
    @media screen and (max-width: 40rem) {
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 64rem) {
        width: 100%;
    }
}
