//gallery
.gallery {
  section#base-hero {
    background: url('https://s3.amazonaws.com/ijadams/parrains/ext2.jpg') no-repeat;
    background-position: 50% 25%;
    background-size: cover;
  }
}

.grid-item {
    float: left;
    margin-bottom: 25px;
    width: calc(33.33% - 25px);
    img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 64rem) {
        width: 100%;
    }
}
