/* Bootstrap NavBar Color Override http://work.smarchal.com/twbscolor/scss/f8f8f8e7e7e73333333333331 */

$bgDefault      : transparent;
$bgHighlight    : #e7e7e7;
$colDefault     : #333333;
$colHighlight   : #333333;
$dropDown       : true;

body.home {
  .navbar-default {
    z-index: 1;
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
    .container {
      background: transparent;
    }
    a {
      color: white !important;
    }
    .navbar-brand {
      color: black;
    }
    .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background: transparent;
  }
}
