@font-face {
  font-family: 'gigi';
  src: url('https://s3.amazonaws.com/ijadams/parrains/gigi-webfont.woff') format('woff');
}

$bgDefault      : transparent;
$bgHighlight    : #e7e7e7;
$colDefault     : #333333;
$colHighlight   : #333333;
$dropDown       : true;

$color-background: #F5F5F5;
$color-main: #ac8156;
$color-active: $tan-light;
$color-link: $tan-light;

$button-height: 27px;
$button-width: 35px;


body {
  .about {
    .navbar-nav {
      li:first-of-type {
        background: white;
        font-weight: 700;
        border-radius: 0rem 0rem 1rem 1rem;
        a {color: black !important;}
      }
    }
  }
  .menu {
    .navbar-nav {
      li:nth-of-type(2) {
        background: white;
        font-weight: 700;
        border-radius: 0rem 0rem 1rem 1rem;
        a {color: black !important;}
      }
    }
  }
  .gallery {
    .navbar-nav {
      li:nth-of-type(3) {
        background: white;
        font-weight: 700;
        border-radius: 0rem 0rem 1rem 1rem;
        a {color: black !important;}
      }
    }
  }
  .contact {
    .navbar-nav {
      li:nth-of-type(4) {
        background: white;
        font-weight: 700;
        border-radius: 0rem 0rem 1rem 1rem;
        a {color: black !important;}
      }
    }
  }
  .navbar-nav {
    float: right;
    font-size: 1.6rem;
    li {
      padding-top: 1rem;
      border-radius: 0rem 0rem 1rem 1rem;
      transition: 0.3s ease-in-out;
      letter-spacing: 1px;
      min-width: 9rem;
      text-align: center;
      font-size: 1.6rem;
      a {transition: 0.3s ease-in;}
      &:hover {
        box-shadow: inset 0 100px 0 0 white;
        a {
          color: black !important;
        }
      }
    }
  }
  .navbar-header {
    font-family: 'gigi';
    a {
      font-size: 4rem;
    }
    img {
      max-width: 150px;
    }
  }
  .navbar-default {
    z-index: 1;
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
    float: right;
    z-index: 9999;
    .navbar-toggle {
      border: 0;
    }
    button.navbar-toggle {
      border: 0;
      right: 0;
      z-index: 3;
      position: fixed;
      height: $button-height;
      width: $button-width;
      cursor: pointer;
      transition: opacity .25s ease;
      &:hover {
        opacity: 0.7;
        background: transparent;
      }
      &.active {
        .top {
          transform: translateY(10px) translateX(0) rotate(45deg);
          background: $color-active;
        }
        .middle {
          opacity: 0;
          background: $color-active;
        }

        .bottom {
          transform: translateY(-10px) translateX(0) rotate(-45deg);
          background: $color-active;
        }
      }
      span {
        background: $color-main;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        transition:  all .35s ease;
        cursor: pointer;

          &:nth-of-type(2) {
            top: 10px;
          }

          &:nth-of-type(3) {
            top: 20px;
          }
        }
    }
    .container {
      background: transparent;
    }
    a {
      color: white !important;
    }
    .navbar-brand {
      color: black;
      margin-top: 1rem;
      &.open {
        position: fixed;
      }
    }
    .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background: transparent;
  }
}


.button_container {
  position: fixed;
  right: 2%;
  top: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;


  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 10px;
    }

    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;

  &:before {
    content: '';
    background: $color-main;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }

  &:after {
    content: '';
    background: $color-main;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }

  &.open {
    opacity: .95;
    visibility: visible;
    height: 100%;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .65s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    z-index: 100;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
