@font-face {
  font-family: 'gigi';
  src: url('https://s3.amazonaws.com/ijadams/parrains/gigi-webfont.woff') format('woff');
}

$bgDefault      : transparent;
$bgHighlight    : #e7e7e7;
$colDefault     : #333333;
$colHighlight   : #333333;
$dropDown       : true;

body {
  .navbar-nav {
    float: right;
  }
  .navbar-header {
    font-family: 'gigi';
    a {
      font-size: 4rem;
    }
    img {
      max-width: 150px;
    }
  }
  .navbar-default {
    z-index: 1;
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
    float: right;
    margin-top: 0.8rem;
    .container {
      background: transparent;
    }
    a {
      color: white !important;
    }
    .navbar-brand {
      color: black;
    }
    .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background: transparent;
  }
}
