<!DOCTYPE html>
<html>
  <head>
    {% include metas.html %}

    <!--[if lt IE 9]>
      {% include olderIE.html %}
    <![endif]-->

    <!-- Styles -->
    <link rel="icon"
          type="image/png"
          href="https://s3.amazonaws.com/ijadams/parrains/favicon.png">
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.min.css" />
    {% if page.title == 'Gallery' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.gallery.min.css" />
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    {% if page.title == 'Menu' or page.title == 'Appetizers' or page.title == 'Soups and Salads' or page.title == 'Desserts' %}
    <script src="https://promotions.waitrapp.com/widget.js" data-waitr-partner-id="1102" async defer></script>
    {% endif %}

    <meta property="og:type" content="restaurant.restaurant">
    <meta property="og:title" content="Parrains">
    <meta property="og:url" content="http://parrains.com/">
    <meta property="og:description" content="Welcome to Parrains Seafood. Parrain's Seafood opened in September 2001 with a commitment to bring you the freshest and highest quality seafood in town.">
    <meta property="og:image" content="https://s3.amazonaws.com/ijadams/parrains/specialties.jpg">
    <meta property="restaurant:menu" content="parrains.com/menu.html">
    <meta property="restaurant:contact_info:website" content="Parrains Seafood">
    <meta property="restaurant:contact_info:street_address" content="3225 Perkins Rd">
    <meta property="restaurant:contact_info:locality" content="Baton Rouge">
    <meta property="restaurant:contact_info:region" content="LA">
    <meta property="restaurant:contact_info:postal_code" content="70808">
    <meta property="restaurant:contact_info:country_name" content="United States">
    <meta property="restaurant:contact_info:email" content="">
    <meta property="restaurant:contact_info:phone_number" content="">

    <!--[if lte IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="home interior">
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>


    {% if page.title == 'About' %}
      <div class="about">
        {% include navigation.html %}
        {% include base-hero.html %}
      </div>
    {% elsif page.title == 'Menu' %}
      <div class="menu">
        {% include navigation.html %}
        {% include base-hero.html %}
      </div>
    {% elsif page.title == 'Appetizers' %}
        <div class="appetizers">
          {% include navigation.html %}
          {% include base-hero.html %}
        </div>
    {% elsif page.title == 'Soups and Salads' %}
        <div class="soups-and-salads">
          {% include navigation.html %}
          {% include base-hero.html %}
        </div>
    {% elsif page.title == 'Desserts' %}
        <div class="desserts">
          {% include navigation.html %}
          {% include base-hero.html %}
        </div>
    {% elsif page.title == 'Gallery' %}
      <div class="gallery">
        {% include navigation.html %}
        {% include base-hero.html %}
      </div>
    {% elsif page.title == 'Contact' %}
      <div class="contact">
        {% include navigation.html %}
        {% include base-hero.html %}
      </div>
    {% else %}
      {% include navigation.html %}
      {% include base-hero.html %}
    {% endif %}

    <section id="main">
      <div class="container">
        {{ content }}
      </div>
    </section>

    {% if page.title == 'Contact' %}
    <section class="map-footer" onclick="style.pointerEvents='none'">
    </section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13761.750020583373!2d-91.1555516!3d30.4236972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd41ee5f6ee71cc43!2sParrain&#39;s+Seafood+Restaurant!5e0!3m2!1sen!2sus!4v1488741552919" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    {% endif %}

    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
    <script src="https://use.typekit.net/qfq5tvh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.min.js"></script>

    {% if page.title == 'Gallery' %}
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.gallery.min.js"></script>
    <script>
        $(function(){
            setTimeout(function(){
                $('.grid').masonry({
                  // options...
                  itemSelector: '.grid-item',
                  columnWidth: 25
                });
            }, 600);
            $('.grid a').featherlightGallery({
                gallery: {
                    fadeIn: 300,
                    fadeOut: 300
                },
                previousIcon: '«',
        		nextIcon: '»',
                openSpeed:    300,
                closeSpeed:   300
            });
        });
    </script>
    {% endif %}
  </body>
</html>
